* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: rgb(55, 92, 171);
}

header {
    text-align: center;
    padding-bottom: 30px;
}

section {
    text-align: center;
}

nav {
    text-align: center;
    
}

h1:before {
    content: "«";
    color: gray;
}

h1:after {
    content: "»";
    color: gray;
}

h1 {
    border-bottom: 1px black solid;
    text-shadow: 4px 4px 1px white;
    box-shadow: 0px 5px 3px -1px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    width: 840px;
    margin: auto;
    background-color: rgb(210, 210, 210);
    }

h2 {
    font-size: 1.5em;
    }

h3 {
    font-size: 2em;
    text-shadow: 4px 4px 6px rgb(86, 84, 84);
    border-bottom: 1px black solid;
    box-shadow: 0px 5px 3px -1px rgba(0, 0, 0, 0.5);
    width: 840px;
    height: 50px;
    margin: auto;
    background-color: rgb(210, 210, 210);
}

/* Los ID */
#logo {
    padding-top: 30px;
}

#userName {
    width: 400px;
    height: 50px;
    margin: auto;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#continue {
    margin: auto;
    width: 200px;
    height: 40px;
    background-color:yellow; 
    font-weight: bold;
    font-size: 1.2em; 
}
  
#regresar {
    margin: auto;
    width: 200px;
    height: 40px;
    background-color:yellow; 
    font-weight: bold;
    font-size: 1.2em;     
}

.userName {
    width: 100px;
    height: 50px;
    padding-top: 5px;
    background-color: aqua;
    font-weight: bold;
    font-size: 1.2em;
}

.topic {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.dificultad {
    font-size: 2em;
    text-shadow: 4px 4px 6px rgb(86, 84, 84);
    border-bottom: 1px black solid;
    box-shadow: 0px 5px 3px -1px rgba(0, 0, 0, 0.5);
    width: 1060px;
    height: 100px;
    margin: auto;
    background-color: rgb(210, 210, 210);
}

.spacePic {
    margin-left: 40px;
    margin-right: 40px;
}

.spaceText {
    margin-left: 110px;
    margin-right: 110px;
}

.animalesText {
    padding-right: 40px;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.spaceTextInt {
    margin-left: 80px;
    margin-right: 80px;
}

.animalesTextInt {
    padding-left: 40px;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

ol {
    padding-left: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.7em;
}

.liste {
    text-decoration: none;
    color: black;
}